/* Styles par défaut pour .circle-slice */
.circle-slice {
  width: 200px;
  height: 300px;
  background-color: #ECC25A;
  border-radius: 200px 0px 0px 200px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25); /* Ajoutez les valeurs manquantes */
  display: flex; /* Ajout pour activer flexbox */
  justify-content: center; /* Centre horizontalement */
  align-items: center; 
}


.flat-angle {
  width: 100%; /* Utilisez 100% pour occuper tout l'espace horizontal disponible */
  height: 100%; /* Utilisez 100% pour occuper tout l'espace vertical disponible */
  display: flex; /* Active flexbox pour ce conteneur */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.flat-angle img {
  width: 134px;
  margin-top: 100%; /* Ajustez la marge supérieure en conséquence si nécessaire */
  margin-left: 100%; /* Ajustez la marge gauche en conséquence si nécessaire */
  transform: translateX(-20%); /* Centrez l'image horizontalement */
}

/* Média query pour réduire la taille de .circle-slice et de l'image en dessous de 1100px de largeur */
@media screen and (max-width: 1100px) {
  .circle-slice {
    width: 150px; /* Largeur réduite pour .circle-slice */
    height: 225px; /* Hauteur réduite pour .circle-slice */
    border-radius: 150px 0px 0px 150px; /* Rayon réduit pour .circle-slice */
  }

  .flat-angle img {
    width: 100px; /* Largeur réduite pour l'image */
    margin-top: 80%; /* Ajustez la marge supérieure en conséquence si nécessaire */
    margin-left: 100%; /* Ajustez la marge gauche en conséquence si nécessaire */
    transform: translateX(-40%); /* Centrez l'image horizontalement */
  }
}

@media screen and (max-width: 600px) {
  .circle-slice {
    width: 100px; /* Largeur réduite pour .circle-slice */
    height: 175px; /* Hauteur réduite pour .circle-slice */
    border-radius: 150px 0px 0px 150px; /* Rayon réduit pour .circle-slice */
  }

  .flat-angle img {
    width: 70px; /* Largeur réduite pour l'image */
    margin-top: 70%; /* Ajustez la marge supérieure en conséquence si nécessaire */
    margin-left: 100%; /* Ajustez la marge gauche en conséquence si nécessaire */
    transform: translateX(-80%); /* Centrez l'image horizontalement */
  }
}


.QuizButtonContainer {
  position: fixed;
  right: -8%;
  top: 50%;
  transform: translateY(-50%);
}


.QuizButtonContainer:hover {
  animation: none; /* Arrête l'animation */
  right: 0; /* Réinitialise la position à right: 0 */
}



  