.circle-slice {
  width: 200px;
  height: 300px; /* Hauteur réduite pour obtenir la moitié */
  background-color: #ECC25A; /* Couleur de fond du cercle */
  border-radius: 200px 0px 0px 200px; /* Définit un rayon pour la partie supérieure */
  }
  
  .flat-angle  {
    width: 75px; /* Largeur de l'image */
    height: 6px; /* Hauteur de l'image */
  }
  