/* SquareWithImage.css */

.square {
    background-color: #EFF3F4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
  }
  
  .square-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .DescriptionStyle {
    font-size: 13px;
    width: 350px; /* même largeur que le carré */
    display: flex;
    align-items: center;
    border: 1px solid red; /* bordure solide rouge */
  }
  

  @media (max-width: 600px) {
    .square {
      width: 200px; /* Adjust the width as needed */
      height: 200px; /* Adjust the height as needed */
      /* Add any additional styles you want to change for smaller screens */
    }
   .DescriptionStyle {
      font-size: 10px;
      width: 200px; /* ajustez la largeur pour les écrans plus petits */
    }
  }

  @media (max-width: 400px) {
    .square {
      width: 160px; /* Adjust the width as needed */
      height: 160px; /* Adjust the height as needed */
      /* Add any additional styles you want to change for smaller screens */
    }
    .DescriptionStyle {
      width: 160px; /* ajustez la largeur pour les écrans encore plus petits */
    }
  }