/* NewsBox.css */

.NewsBox {
    background-color: #ECC25A;
    color: white;
    top: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    font-size: 15px;
  
  }

  @media (max-width: 560px) {
    .NewsBox {
      width: 595px;
    }
  }

  @media (max-width: 800px) {
    .NewsBox {
      font-size: 8px;
    }
  }