/* ButtonWithImage.css */

.custom-button {
    background-color: white; /* Fond blanc */
  border: 1px solid #D9D9D9; /* Bord gris */
  border-radius: 55px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Effet drop shadow */
  }
  
  .button-image {
    margin-right: 10px; /* Ajustez la marge comme vous le souhaitez */
    max-width: 70px; /* Ajustez la taille de l'image */
    max-height: 40px;
  }
  