/* Quiz.css */
.questionBoxProps {
    width: 320px;
    height: 250px;
    background-color: #040111;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    
  }
  
  .imageContainerProps {
    position: relative; /* Établit comme contexte de positionnement pour les enfants absolus */
    width: 100%;
    height: 100%;
    border-radius: 15px; /* Reprend le border-radius si nécessaire */
  }
  
  .imageTextProps {
    position: absolute;
    top: 10%; /* Centre le texte verticalement */
    left: 50%; /* Centre le texte horizontalement */
    transform: translate(-50%, -50%); /* Ajuste précisément le centrage du texte */
    color: red; /* Changez la couleur selon le besoin */
    text-align: center; /* Pour s'assurer que le texte est centré s'il prend plus d'une ligne */
    font-size: 25px;
  }
  
  @media (max-width: 600px) {
    .questionBoxProps {
      width: 250px; 
      height: 195px; 
    }
    /* Vous pouvez ajuster les styles du texte pour les petits écrans ici si nécessaire */
  }