.accordion {
  display: flex;
  background-color: #EEEEEE;
  padding-inline-start: 35%;
  

}

.accordionStyle{
  justify-content: center;
}

.accordion-item {
  flex: 0.1;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  justify-content: center; /* Centrer le contenu verticalement */
  align-items: center; /* Centrer le contenu horizontalement */
}

.accordion-header {
  padding: 7px; /* Ajuster l'espace autour du texte de l'en-tête */
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 25px; /* Ajuster l'espace de contenu */
  text-align: center; /* Centrer le texte à l'intérieur du contenu */
}

.accordion-content p {
  margin: 0; /* Aucun espace entre les paragraphes */
}


@media (max-width: 560px) {
  .accordion {
    width: 560px;
    padding-inline-start: 8%;
  }
  .accordion-item {
    flex: 0.2;
  }
}

@media (max-width: 375px) {
  .accordion {
    width: 530px;
    padding-inline-start: 20%;
  }
  .accordion-item {
    flex: 0.2;
  }
}