@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.accordion {
  display: flex;
  background-color: #EEEEEE;
  position: fixed;
  top: 99px;
}

.accordion-item {
  flex: 0.1;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  justify-content: center; /* Centrer le contenu verticalement */
  align-items: center; /* Centrer le contenu horizontalement */
}

*{
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #EEEEEE;
}

nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .nav-links{
  display: inline-flex;
}

.nav-links li {
  position: relative; /* Ajoute un contexte de positionnement pour le menu déroulant */
  list-style-type: none;
  /* Assurez-vous que le reste de votre style est préservé */
}

.nav-links .drop-menu,
.nav-links .drop-menu-price {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%; /* S'assure que la largeur correspond à celle du `li` parent */
  box-shadow: 0 6px 10px rgba(0,0,0,0.25);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease;
  /* Votre style existant reste inchangé */
}

.nav-links li a{
  color: #1f1e1e;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 11px 150px 10px 90px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #dfdfdf;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #ffffff;
  line-height: 35px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.25);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.1s ease;
  top: 35px;
  opacity: 1;
  visibility: visible;
}
.drop-menu li a:hover{
  width: 100%;
  display: block;
  background-color: #e1e1e1;
  font-weight: 400;
  border-radius: 0px;
}

.drop-menu li a, .drop-menu-price li a {
  text-align: left;
  padding-right: 10px; /* Ajustez selon le besoin pour l'espacement */
  display: block;
  width: 100%;
  box-sizing: border-box; /* Assure que le padding et border sont inclus dans la largeur */
  border-bottom: 1px solid #dedede;
}

.nav-links .drop-menu-price{
  position: absolute;
  background: #ffffff;

  line-height: 35px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.25);
}

.nav-links li:hover .drop-menu-price,
.nav-links li:hover .mega-box{
  transition: all 0.1s ease;
  top: 35px;
  opacity: 1;
  visibility: visible;
}
.drop-menu-price li a:hover{
  width: 100%;
  display: block;
  background-color: #e1e1e1;
  font-weight: 400;
  border-radius: 0px;
}

.drop-menu-price li a{
  width: 100%;
  display: block;
  font-weight: 400;
  border-radius: 0px;
  border-bottom: 1px solid #dedede;
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #d9d9d9;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color: #f2f2f2;
}
.wrapper .btn{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}


.input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}



@media (max-width: 1250px) {

.nav-links li a{
  padding: 3px 140px 1px 50px;
}}

@media (max-width: 1000px) {

  .nav-links li a{
    padding: 3px 80px 1px 50px;
  }
  .nav-links li a{
    font-size: 14px;
}
}

@media (max-width: 750px) {

  .nav-links li a{
    padding: 3px 50px 1px 50px;
  }
  .nav-links li a{
    font-size: 12px;
}
}

@media (max-width: 550px) {

  .nav-links li a{
    padding: 3px 55px 1px 20px;
  }
  .nav-links li a{
    font-size: 10px;
}
}

@media (max-width: 470px) {

  .nav-links li a{
    padding: 3px 35px 1px 15px;
  }
  .nav-links li a{
    font-size: 10px;
}
  nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 10px 3px 3px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

@media (max-width: 370px) {

  .nav-links li a{
    padding: 3px 25px 1px 15px;
  }
  .nav-links li a{
    font-size: 10px;
}}