.navbar {
    display: flex;
    justify-content: space-between;; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    list-style: none; /* Supprime les puces */
    padding: 0;
    background-color: #ffffff; /* Ajoutez la couleur de fond souhaitée */}
  
  .navbar-list {
    display: flex;
    justify-content: flex-end; /* Aligner les icônes à droite */
    padding-right: 10px; /* Ajout d'un espace à droite des icônes */
   
  }
  
  .navbar-item {
    margin-left: 55px;
  }
  
  .navbar-center {
    width: 100%; /* Occuper toute la largeur disponible */
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 10%;
  }
  
  /* ... Autres règles CSS ... */
  
  @media (max-width: 1150px) {
   
  
    .navbar-item {
      margin: 15px;
      margin-bottom: 100px;
    }
  
    .navbar-center {
      margin-top: 100px;
    }

    .navbar-list {
        width: 100%; /* Occuper toute la largeur disponible */
        padding-right: 40px; /* Ajout d'un espace à droite des icônes */
       
      }
  }