/* Dans votre fichier App.css ou un fichier de styles séparé */
.navbar {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    list-style: none; /* Supprime les puces */
    padding: 0;
    background-color: #ffffff; /* Ajoutez la couleur de fond souhaitée */
}

/* Pour centrer horizontalement la Searchbar */
.navbar-list {
    display: flex;
    align-items: center;
    margin-left: auto; /* Déplace les trois premières images vers la droite */
}
  
  .navbar-item {
    margin-right: 50px; /* Espacement entre les éléments */
  }

  .navbar-item-center {
    margin-right: 300px; /* Espacement entre les éléments */
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    margin-right: 1%; /* Ajoute de la marge à droite */
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 10%;
  }