@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* TechGiftButton.css */
.category {
  display: inline-block;
  align-items: center;
  background-color: black;
  color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 400px;
  height: 40px;
}

.category:hover {
  background-color: gray;
}

/* Media query for screens that are 470px wide or less */
@media (max-width: 600px) {
  .category {
    width: 250px; /* Example of a smaller width */
    height: 35px; /* Example of a smaller height */
    padding: 8px 15px;
    font-size: 14px;
  }
}


  